<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Categories</h4>
                  <form class="forms-sample" method="post" action="{% url 'update_category' cat_id=data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">CategoryName</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Categoryname" name="CategoryName" value="{{data.CategoryName}}">
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                        <textarea  name="Description" cols="163" rows="3">{{data.Description}}</textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputFileupload">FileUpload</label>
                        <img src="{{data.Fileupload.url}}" width="100px" height="100px" ><br><br>
                      <input type="file" class="form-control" id="exampleInputFileupload" placeholder="fileupload" name="Fileupload" value="{{data.Fileupload}}">
                    </div>
                    <button type="submit" class="btn btn-primary me-2">update</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
    <script>
    swal('{{i}}', '','warning')
    </script>
{% elif i.tags == 'error' %}
    <script>
    swal('{{i}}', '','error')
    </script>
{% elif i.tags == 'info' %}
    <script>
    swal('{{i}}', '','info')
    </script>
{% else %}
    <script>
    swal('{{i}}', '','warning')
    </script>
{% endif %}
{% endfor %}
{% endif %}
</body>
</html>
{% endblock %}